body {
    width: 800px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#header {
    background-size: 100%;
    background-image: url(./Thaophuongnguyen-175322115312-d-4.jpg);
    color: white;
    padding: 5px 25px;
    background-repeat: no-repeat;
}

#content {
    background-color: rgb(48, 94, 78);
    width: 400px;
    float: left;
    padding: lem;
    margin-top: 10px;
}

#text1 {
    background-color: brown
}

#side {
    background-color: darkkhaki;
    width: 400px;
    float: right;
    padding: lém margin-left: 15px;
    margin-top: 10px;
}

#footer {
    clear: none;
    background-color: blue;
    padding: 5px 100px;
    width: 700px;
    margin-top: 500px;
}

#menu ul li {
    list-style-type: none;
    float: left;
    padding-left: 15px;
    padding-top: 400px;
}