@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Signika&display=swap');
body {
    padding: 0;
    margin: 0;
}


/*start navigation*/

.navbar-brand {
    padding-left: 150px;
}

.collapse ul {
    position: relative;
    right: 150px;
    font-family: 'Ubuntu', sans-serif;
}

.collapse ul li a {
    color: black !important;
}


/*end navigation*/


/*start slide*/

#slide {
    background-attachment: fixed;
    background-image: url(./image/slide1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 100px;
    min-height: 100vh;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
}

.content-slide {
    position: absolute;
    top: 40%;
    z-index: 9;
}

.content-slide p {
    width: 60%;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    margin: auto;
    font-size: 15px;
    text-align: center;
    font-family: 'Gamja Flower', cursive;
    padding-bottom: 30px;
    text-shadow: 5px 5px 15px #000;
}

.content-slide h1 {
    padding-bottom: 20px;
    font-family: 'Anton', sans-serif;
    font-size: 70px;
    letter-spacing: 7px;
    color: white;
    text-shadow: 5px 5px 15px #000;
}

.content-slide span {
    color: #d5a833;
    font-family: 'Anton', sans-serif;
}

.content-slide a {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 30px 0 15px;
    padding: 10px 54px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
    text-shadow: 5px 5px 15px #000;
}


/*end slide*/


/*start introduce*/

.content-2 img {
    margin-left: 20px;
}

.content-title h2 {
    position: relative;
    border-left: 3px solid #d5a833;
    font-size: 35px;
    top: -30px;
    padding-left: 10px;
    color: rgb(80, 80, 80);
    margin: 0;
}

.content-title span {
    font-family: 'Courier New', Courier, monospace;
}


/*end introduce*/


/*start our service*/

.service-content-1 .service-content-2 {
    margin-right: -15px;
    margin-left: -15px;
    padding-right: -15px;
}

.service {
    margin-top: 150px;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

.service-title h2 {
    position: relative;
    left: 1100px;
    border-left: 3px solid #d5a833;
    padding-left: 13px;
    margin-bottom: 50px;
}

.service-content-1 {
    padding-bottom: 40px;
}

.service-content-item {
    position: relative;
    height: 300px;
    width: 400px;
}

.content-main {
    padding-top: 40px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 1px 2px rgba(217, 217, 217, 0.1);
    margin: 0 0 50px;
    padding: 50px 17px 37px;
    position: relative;
    text-align: center;
    transition: all 0.6s ease 0s;
}

.content-main:hover {
    transform: translateY(-20px)
}

.content-main .icon i {
    font-size: 40px;
    color: #D5A833;
    padding-bottom: 10px;
}

.service-content a {
    text-decoration: none;
    color: #505050
}

.service-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    line-height: 26px;
    -webkit-appearance: none;
    background-color: rgb(212, 203, 203);
    color: #505050;
}


/*end our service*/