body {
    margin: 0px;
    font-size: 15px;
}

.clear {
    clear: both;
}


/* stard header css*/

.header {
    width: 100%;
    background-color: rgb(143, 77, 30);
    font-size: 20px;
    padding: 10px 0px;
}

.header-content {
    width: 80%;
    margin: 0 auto;
    color: white
}

.header-content i,
.header-content span {
    margin-right: 15px;
}


/*end header*/


/*start navigation*/

.Navigation {
    /*chổ này không làm đê background trắng củng đẹp*/
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 0px;
    background-image: url(./HERO_UltimateParis_Heroshutterstock_112137761.jpg);
    position: top top;
}

.Navigation-content {
    width: 80%;
    margin: auto;
}

.logo,
.my-menu,
.Item {
    float: left;
}

.logo i {
    color: tomato;
}

.logo {
    color: white;
}

.my-menu ul {
    list-style-type: none;
}

.my-menu ul li {
    float: left;
    margin-right: 10px;
    transition: all 1s;
}

.my-menu ul li:hover {
    background-color: rgb(110, 23, 96)
}

.my-menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/*tạo vòng tròn cho item hóc phải*/

.Item {
    width: 30px;
    height: 30px;
    color: white;
    margin-right: 0.5rem;
    padding-top: 8px;
    float: left;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}

.Item i {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.fb {
    background-color: rgb(24, 24, 83);
}

.twiter {
    background-color: blueviolet
}

.Google {
    background-color: brown
}


/*canh lê trên */

.logo {
    padding-top: 13px;
}

.my-menu {
    padding-top: 15px;
}

.Item1 {
    padding-top: 18px;
}

.Item1,
.my-menu {
    padding-right: 45px;
}

.logo,
.my-menu {
    padding-right: 45px;
}


/*end navigation*/


/*start slider*/

.slider {
    width: 100%;
    height: 650px;
    background-image: url(./HERO_UltimateParis_Heroshutterstock_112137761.jpg);
    background-position: center center;
}


/*chỉnh vị trí cho font travel*/

.slider-caption p {
    height: auto;
    max-width: 100%;
    vertical-align: top;
    padding-top: 8%;
    text-align: center;
}

.slider-item {
    color: lime;
    text-align: center;
}

.slider-item i {
    margin-right: 2rem;
    font-size: 25px;
}

.slider-picture {
    text-align: center;
    margin: auto;
    padding-right: 40px;
    margin-top: 30px;
}

.slider-picture img {
    padding-right: 10px;
}


/*end slider*/


/*start about us*/

.about-us {
    /*làm caption tiêu mục trước*/
    margin-top: 50px;
    width: 100%;
}

.about-us-content {
    width: 80%;
    margin: auto;
}

.about-us-caption {
    text-align: center;
}

.about-us-caption h1 {
    font-size: 40px;
    margin-bottom: 5px;
    color: rgb(99, 58, 138)
}

.about-us-caption span {
    font-size: 20px;
    letter-spacing: 5px;
    /*khoảng cách giữa các chử*/
    color: rgb(165, 25, 135)
}

.about-us-caption p {
    font-size: 17px;
    line-height: 20px;
    /*khoảng cách giửa các dòng*/
    padding: 0px 5px;
}

.about-us-list {
    width: 100%;
    margin-top: 100px;
}

.about-us-list-item {
    width: 25%;
    float: left;
    text-align: center;
}

.about-us-list-item i {
    font-size: 45px;
    color: rgb(77, 77, 212)
}

.about-us-list-item h2 {
    color: chocolate
}


/*end about us*/


/*start home stay*/

.home {
    width: 100%;
    background-color: rgb(34, 34, 211);
    margin: auto;
    margin-top: 60px;
}

.home-image {
    width: 60%;
    float: left;
}

.home-image img {
    width: 100%;
    margin-bottom: 30px;
}

.home-intro {
    float: left;
    width: 40%;
}

.home-intro h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding-left: 150px;
    background: rgba(173, 70, 70, 0.4);
    margin: 15px;
}

.home-intro p {
    padding: 0px 30px;
    color: white;
    margin-bottom: 40px;
}

.home-intro p i {
    margin-right: 15px;
}


/*end home stay*/


/*star team*/

.team {
    /*chỉnh phần trên trước*/
    width: 100%;
    padding-top: 60px;
}

.team-content {
    width: 80%;
    margin: auto/*auto sẻ giúp content nhảy dô giửa*/
}

.team-title {
    text-align: center;
}

.team-title h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.team-title span {
    font-size: 20px;
    letter-spacing: 5px;
    color: rgb(224, 102, 61)
}

.team-member {
    margin-top: 80px;
    width: 100%
}

.team-member-item {
    width: 50%;
    float: left;
    text-align: center;
}

.team-member-item img {
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}

.team-member-item p {
    font-size: 20px;
    color: rgb(141, 42, 24);
    font-style: italic;
    font-weight: bold;
}

.team-member-item span {
    font-size: 15px;
    color: rgb(35, 99, 99);
    font-style: initial;
}

.team-social {
    margin-top: 20px;
}

.team-social i {
    color: rgb(20, 20, 139);
    font-size: 18px;
    margin-right: 15px;
}

.line {
    /*làm lần kẻ*/
    width: 60%;
    margin: 10px auto;
    height: 2px;
    background-color: black
}


/*end team*/


/*start customer*/

.customer {
    width: 100%;
    height: 660px;
    background-image: url(image/anh-thien-nhien-1.jpg);
    background-position: center center;
    margin-top: 20px;
}

.customer-content {
    width: 80%;
    margin: auto;
}

.customer-caption {
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

.customer-caption h1 {
    font-size: 45px;
    color: rgb(231, 182, 117) font-style: italic
}

.customer-caption span {
    letter-spacing: 5px;
    font-size: 25px;
    color: blue
}

.customer-list {
    width: 100%;
    text-align: center;
    margin-top: 80px;
}

.customer-item {
    width: 33%;
    margin: auto;
    text-align: center;
    float: left;
}

.customer-item p {
    font-size: 25px;
    font-style: initial;
    color: white;
}


/*end customer*/


/*start footer*/

.footer {
    width: 100%;
    height: 400px;
    background-color: #1ba0e2;
    padding-top: 40px;
    margin-top: 20px;
}

.footer-content {
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
}

.footer-content-detail {
    width: 100%;
    color: rgb(207, 203, 203);
}

.list {
    width: 33%;
    float: left;
    margin: auto;
}

.footer-contact {
    width: 34%;
}

.footer-contact h2 {
    font-size: 25px;
    padding-bottom: 30px;
    padding-left: 30px;
    color: white
}

.footer-social i {
    color: blue;
    padding-right: 30px;
    padding-left: 40px;
}

.footer-contact i {
    margin-right: 20px;
}

.footer-contact p {
    margin-right: 40px;
}

.footer-about-us p {
    padding-left: 30px;
    padding-right: 50px;
}

.footer-about-us h2 {
    padding-left: 100px;
    padding-bottom: 30px;
    color: white
}

.footer-help h2 {
    padding-left: 100px;
    padding-bottom: 30px;
    color: white
}

.footer-help p {
    padding-left: 70px;
}

.footer-form {
    margin-top: 30px;
}

.footer-form h2 {
    padding-bottom: 20px;
    color: white
}

.footer-form-input input {
    width: 60%;
    height: 30px;
    background-color: white;
    border: none;
}

.footer-form-input button {
    width: 20%;
    height: 30px;
    background-color: yellowgreen;
    border: none;
    color: white;
}

.copyright {
    width: 100%;
    height: 40px;
    padding-top: 15px;
    margin: auto;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    background-color: #1ba0e2;
}

.line-end {
    width: 100%;
    height: 1px;
    background-color: black
}


/*end footer*/