@import url('https://fonts.googleapis.com/css?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap');
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Gamja Flower', cursive;
    font-size: 20px;
}


/*start navigation*/

.navbar {
    letter-spacing: 0.1rem;
    background: rgba(0, 0, 0, 0.3) !important;
    font-size: 30px;
}

.navbar-nav li {
    padding-right: 0.7rem;
}

.navbar-nav li a {
    color: white!important;
    text-shadow: 5px 5px 25px rgb(0, 0, 0);
}

.navbar-nav li a:hover {
    color: blue !important;
}

.carousel-caption {
    position: absolute;
    top: 33%;
    letter-spacing: 0.3rem;
    text-shadow: 5px 5px 25px #000;
}

.btn-outline-success {
    background-color: blueviolet;
    border: 1px solid white;
}

.nav-link {
    position: relative;
}


/*phần này hiểu rồi nè. nhưng để nhớ thì coi và làm lại*/


/*hỏi lại chổ before*/

.nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 7px;
    background-color: chartreuse;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 650ms;
}

.nav-link:hover::before {
    transform: scaleX(1);
}


/*end navigation*/


/*about us*/

.narrow {
    padding-top: 2rem;
}

.narrow h1 {
    color: chocolate;
}

.narrow .btn-primary:hover {
    background: chocolate;
}

#button {
    border: 1px solid rgb(199, 81, 12);
    color: black;
    background: white;
}

#button:hover {
    background: chocolate;
}

.btn-primary {
    border-radius: 20px;
}


/*end about us*/


/*start infor*/

#infor {
    margin-top: 30px;
    background-color: slateblue;
    margin-bottom: 0;
    height: 760px;
}

.line hr {
    height: 0.5px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    background: rgba(62, 55, 107, 0.5)
}

.information {
    padding-top: 30px;
}

.information i {
    font-size: 50px;
    color: chocolate;
}

.information h5 {
    padding-bottom: 20px;
    color: chocolate;
}

.information p {
    color: white
}

#menu h1 {
    color: chocolate;
}

#menu p {
    color: white;
    margin-bottom: -13px;
}


/*end infor*/


/*start show ảnh*/

.shown p {
    font-size: 25px;
    padding-top: 10px;
    color: black
}

.test a {
    background: tomato;
    color: white;
    font-size: 15px;
}

.test {
    background: white
}

.row.no-padding [class*=col-] {
    padding: 0;
}


/*end show ảnh*/


/*start about chef*/

.chef {
    margin-top: 40px;
}

.image img {
    width: 100%;
    height: 300px;
}

.head p {
    margin-bottom: -10px
}

.head h1 {
    color: chocolate;
    font-family: 'Pinyon Script', cursive;
}


/*end about chef*/


/*start service*/

#service {
    background-image: url(./image/delivery2.jpg);
    height: 400px;
    background-attachment: fixed;
    background-position-y: 150px;
    background-size: cover;
    padding-top: 40px;
    color: white;
    margin-top: 50px
}

.lead {
    background-color: rgba(0, 0, 0, 0.3);
}

.lead h2 {
    font-family: 'Caveat Brush', cursive;
}

.lead i {
    padding-top: 10px;
    font-size: 50px;
    color: white;
}

.lead i:hover {
    color: blue;
}


/*end service*/