        @import url('https://fonts.googleapis.com/css?family=Gamja+Flower&display=swap');
    body {
        margin: 0px;
        font-size: 15px;
        font-family: 'Gamja Flower', cursive;
        font-size: 20px;
    }
    
    .clear {
        clear: both;
    }
    /*start header*/
    
    .header {
        width: 100%;
        background-color: white;
        margin: auto;
    }
    
    .header-content {
        width: 80%;
        text-align: center;
        margin-right: 20px;
        margin: auto;
    }
    
    .header-icon,
    .header-title,
    .header-infor {
        float: left;
        width: 33%;
        margin: auto;
        text-align: center;
    }
    
    .header-infor p {
        margin-top: 40px;
    }
    
    .header-icon i {
        font-size: 20px;
        padding-top: 54px;
        margin-right: 13px;
        color: rgb(47, 47, 124)
    }
    
    .header-title img {
        margin-bottom: 5px;
        padding-top: 23px;
    }
    
    .header-infor button {
        color: chocolate;
        margin-top: 5px;
        width: 30%;
        border-radius: 10px;
        border: none;
    }
    
    .border {
        width: 100%;
        height: 0.7px;
        background-color: black;
    }
    /*end header*/
    /*start naviagation*/
    
    .navigation {
        background-color: rgba(82, 64, 120, 0, 9) !important;
        margin: auto;
        /*không biết cách chỉnh các thẻ a*/
        width: 100%;
        margin-top: 20px;
    }
    
    .w3-padding {
        width: 65%;
        margin: auto;
        padding-left: 30px;
    }
    
    .border2 {
        width: 100%;
        height: 0.7px;
        background-color: rgb(228, 157, 65);
        margin-bottom: 5px;
    }
    
    a:hover {
        background-color: blueviolet
    }
    
    .w3-input w3-border w3-white w3-mobile {
        padding-left: 40px;
    }
    
    .w3-button w3-green w3-mobile {
        padding-left: 40px;
    }
    
    #navigation-content {
        color: blueviolet;
    }
    
    #navigation-content input,
    navigation-content button {
        padding-left: 20px;
    }
    /*end navigation*/
    /*start introduce*/
    /*slide ảnh*/
    
    .introduce {
        width: 100%;
        height: 700px;
        background-image: url(../LAB2/image2/norway.jpg);
        color: white;
    }
    
    .introduce-content {
        width: 50%;
        padding-top: 50px;
    }
    
    .introduce-content h2 {
        color: rgb(226, 239, 240);
        padding-top: 30px;
    }
    /*end introduce*/
    /*start image*/
    
    img {
        vertical-align: middle;
        position: center;
    }
    
    .slideshow-contanner {
        width: 70%;
        position: relative;
        margin: auto;
    }
    
    .text {
        color: #f0ebeb;
        font-size: 20px;
        padding: 8px 12px;
        position: absolute;
        bottom: 40px;
        width: 100%;
        text-align: center;
    }
    
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    
    .slide {
        margin-top: 30px;
    }
    
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    h2 {
        text-align: center;
        margin: auto;
        letter-spacing: 5px;
        padding-bottom: 30px;
    }
    
    @-webkit-keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
    
    @keyframes fade {
        from {
            opacity: .4
        }
        to {
            opacity: 1
        }
    }
    
    @media only screen and (max-width: 300px) {
        .text {
            font-size: 11px
        }
        /*end*/