@import url('https://fonts.googleapis.com/css?family=Gmaja+Flower');
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Gmaja Flower';
}

.navbar {
    background-color: rgba(82, 64, 120, 0.8) !important;
}

.navbar li a {
    color: white !important;
}

.navbar li a:hover {
    color: black !important;
}

.carousel-caption {
    position: absolute;
    top: 40%;
}

.carousel-caption h1 {
    font-size: 400%;
    text-transform: uppercase;
    /*in hoa*/
    text-shadow: 5px 5px 25px #000;
}

.carousel-caption h3 {
    font-size: 200%;
    text-transform: 5px 5px 25px #000;
}

.btn-primary {
    background-color: rgb(82, 64, 120);
    border: 1px solid white;
}

@media(max-width:992px) {
    .carousel-caption {
        top: 20%;
    }
    .carousel-caption h1 {
        font-size: 250%;
        text-transform: uppercase;
        /*in hoa*/
        text-shadow: 5px 5px 25px #000;
    }
    .carousel-caption h3 {
        font-size: 160%;
        text-transform: 5px 5px 25px #000;
    }
    .carousel-caption .btn {
        font-size: 120%;
    }
    .btn-primary {
        background-color: rgb(82, 64, 120);
        border: 1px solid white;
    }
}