@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
.effect1 {
    margin: 0;
    padding: 0;
    /*làm theo flex, justyfile content để chình nội dung ra giửa theo chiều ngang, align-item ra giửa theo chiều dọc*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    position: relative;
    height: 400px;
    width: 600px;
}

.box .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.box .face span {
    width: 150px;
    height: 100%;
    transition: 1s;
}

.box .face.face1 span {
    background: url(./image/image2/anh1.jpg);
    /*thộc tính này lm cho hình 1 ở trên*/
    transform-origin: top;
}

.box:hover .face.face1 span {
    /*thuộc tính transform này giúp cho ta xoay phần tử tấm hình 90 độ theo trục X*/
    /*translateY thì dịch chuyển phần tử này theo trục y*/
    transform: rotateX(90deg) translateY(-50%);
}

.box .face.face2 span {
    background: url(./image/image2/anh2.jpg);
    /*hình 2 ở dưới*/
    transform-origin: bottom;
    transform: rotateX(90deg) translateY(50%);
}

.box:hover .face.face2 span {
    transform: rotateX(0deg) translateY(0);
}

.box .face span:nth-child(1) {
    background-position-x: 0;
    transition-delay: 0s;
}

.box .face span:nth-child(2) {
    background-position-x: -150px;
    transition-delay: 0.2s;
}

.box .face span:nth-child(3) {
    background-position-x: -300px;
    transition-delay: 0.4s;
}

.box .face span:nth-child(4) {
    background-position-x: -450px;
    transition-delay: 0.6s;
}


/*effect thứ 2*/

.effect2 {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.effect2 {
    position: relative;
    width: 100%;
    height: 300px;
}

.effect2 h2 {
    font-size: 100px;
    color: #333;
}

.effect2 h2 span {
    animation: animate 1s linear infinite;
}

.effect2 h2 span:nth-child(1) {
    animation-delay: 0s;
}

.effect2 h2 span:nth-child(2) {
    animation-delay: 0.2s;
}

.effect2 h2 span:nth-child(3) {
    animation-delay: 0.4s;
}

.effect2 h2 span:nth-child(4) {
    animation-delay: 0.6s;
}

.effect2 h2 span:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes animate {
    0%,
    80% {
        color: #333;
        text-shadow: none;
    }
    100% {
        color: #fff;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff, 0 0 120px #fff, 0 0 160px #fff
    }
}


/*effect thứ 3*/

.effect3 {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.effect3 {
    position: relative;
    width: 100%;
    height: 300px;
}

.effect3 h2 {
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size: 100px;
}