@import url('https://fonts.googleapis.com/css?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Gamja Flower', cursive;
    font-size: 20px;
}


/*navigation*/

.navbar {
    letter-spacing: 0.1rem;
    background: rgba(0, 0, 0, 0.3) !important;
    font-size: 20px;
    text-transform: uppercase;
}

.navbar-nav li {
    padding-right: 0.4rem;
}

.navbar-nav li a {
    color: white !important;
    text-shadow: 5px 5px 25px rgb(0, 0, 0);
    transition: all 1s;
    border-radius: 10px;
}

.navbar-brand {
    padding-left: 80px;
    font-family: 'Bangers', cursive;
    text-shadow: 5px 5px 25px #000;
}

.navbar ul {
    padding-right: 80px;
}

.navbar ul li a:hover {
    background-color: white;
    color: black !important;
    border-radius: 10px;
}


/*end navigation*/


/*start slider*/

.carousel-caption {
    position: absolute;
    top: 40%;
    text-shadow: 5px 5px 25px rgb(0, 0, 0);
}

.carousel-caption h1 {
    font-size: 80px;
    color: white;
    text-shadow: 5px 5px 25px rgb(0, 0, 0);
    letter-spacing: 0.3rem
}

.carousel-caption p {
    color: white;
}

.head {
    padding-top: 20px;
    background-color: white;
    outline: none;
    color: black;
    width: 1100px;
    height: 130px;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 20px;
}

.head i {
    color: chartreuse
}

.head input {
    outline: none;
    border: none;
    width: 100%;
    height: 30px;
    background-color: #1b1b1b;
    color: white;
    border-radius: 10px;
}

#sent {
    margin-top: 40px;
    background-color: chartreuse
}

#sent:hover {
    background-color: #1b1b1b;
}

.form-control {
    display: block;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    height: 35px;
    background-color: #1b1b1b;
    color: white;
    border-radius: 10px;
    width: 100%;
}


/*end slider*/


/*start about us*/

.top {
    margin-top: 40px;
}

.top h1 {
    padding-bottom: 40px;
}

.top-content h5 {
    color: #999 !important;
    letter-spacing: 7px;
}

.top-content-1 p {
    font-size: 18px;
}

.top-content-2 img {
    padding-right: 30px;
    margin: auto;
}

.top-content-3 a i {
    font-size: 50px;
    padding: 10px 10px;
}

.top-content-3 p {
    color: #999 !important;
}


/*chỉnh cho modal làm chưa được nha*/

.modal-content {
    position: relative;
    background-color: white;
    border: none
}

.modal-dialog {
    width: 600px;
    height: 600px;
}

.modal-header .close {
    margin-top: -2px;
}

.modal-body {
    width: 600px;
    height: 500px;
    border: none;
}

.modal-body iframe {
    width: 500px;
    height: 400px;
    border: none
}


/*đoạn 2*/

.doan2 {
    margin-top: 40px;
    width: 87%;
    margin-bottom: 40px;
}

.service {
    width: 100%;
}

.service-content {
    margin: auto;
    height: auto;
}

.service-content {
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 10px 1px #bababa;
    -moz-box-shadow: 0px 1px 10px 1px #bababa;
    -o-box-shadow: 0px 1px 10px 1px #bababa;
    -ms-box-shadow: 0px 1px 10px 1px #bababa;
    box-shadow: 0px 1px 10px 1px #464040;
}

.service-content i {
    padding-top: 30px;
    font-size: 40px;
    color: aqua;
    transition: all 1s;
    overflow: hidden;
}

.service-content i:hover {
    font-size: 25px;
    color: blueviolet;
}

.service-content h4 {
    color: blueviolet;
}

.service-content p {}


/*end about us*/


/* start anh*/

.image1 {
    background-image: url(./image/anh6.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -200px;
    height: 370px;
    width: 100%;
    padding-top: 50px;
    color: white;
}

.image1 h3 {
    font-family: 'Bangers', cursive;
    font-size: 60px;
    text-shadow: 5px 5px 15px #000;
}

.image1 h4 {
    font-size: 36px;
    text-shadow: 5px 5px 15px #000;
}


/*end ảnh*/


/*start packages*/

.package {
    margin-top: 50px;
}

.package h1 {
    padding-bottom: 30px;
}

.row2 {
    margin-top: 30px;
    color: #999
}

.row1 {
    color: #999
}

.row1 img {
    border-radius: 8px;
}

.row2 img {
    border-radius: 8px;
}

.modal-dialog {
    width: 600px;
    height: 800px;
}


/*này là kích cở cái form nè*/

.modal-header h3 {
    margin: auto;
}

.list {
    width: 800px;
    height: 600px;
}

.form-group {
    position: relative;
}

.form-group input {
    width: 260px;
    height: 44px;
    margin-left: 280px;
    position: relative;
    top: -35px;
    background-color: white;
    border: 1px solid #e6dede;
    border-radius: 0;
}

.form-group span {
    margin-right: 500px;
    position: relative
}

.form-group button {
    margin-right: 260px;
    background-color: deeppink;
}


/*end packages*/


/*start testimonial*/

.title {
    margin-top: 80px;
    margin-bottom: 40px;
    font-family: 'Dancing Script', cursive;
    color: blueviolet
}

.member-1,
.member-2,
.member-3 {
    height: 450px;
    width: 1100px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #bbb;
    box-shadow: 0px 1px 10px 1px #bababa;
    padding-top: 40px;
}

.member-1 p,
.member-2 p,
.member-3 p {
    width: 75%;
    margin: 0 auto;
    color: #999;
    padding-bottom: 15px;
    text-align: center;
}

.member-1 img,
.member-2 img,
.member-3 img {
    border-radius: 50%;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75)
}

.member-1 h2,
.member-2 h2,
.member-3 h2 {
    padding-top: 15px;
}

.member-1 i,
.member-2 i,
.member-3 i {
    height: 50px;
    width: 50px;
    background-color: brown;
    border-radius: 50%;
    font-size: 30px;
    padding-top: 10px;
}


/*end testimonial*/


/*start thống kê*/

.stais {
    margin-top: 80px;
    background-image: url(../LAB8/image/slide1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -200px;
    width: 100%;
    height: 400px;
    color: white;
    padding-top: 60px;
    position: relative;
}

.stais h2 {
    text-shadow: 5px 5px 15px #000000;
}

.stais-content-1 {
    position: relative;
}


/*mấy chổ thuộc tính margin hay padding làm riếc rồi quen thôi*/


/*làm thôi chứ chưa rỏ s lại dùm margin nó lên padding thì kh*/

.stais-content p {
    position: relative;
    top: 30px;
    font-family: 'Bangers', cursive;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: -10px;
}

.stais-content h3 {
    position: relative;
    font-size: 22px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.crick {
    width: 140px;
    height: 140px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}


/*chưa rỏ lắm về width 27%*/

.stais-content-1::after {
    content: "";
    background: #fff;
    height: 3px;
    width: 27%;
    position: absolute;
    top: 63%;
    left: -13%;
}


/*end thống kê*/


/*bản đồ*/

.map {
    margin-top: 50px;
}

.map-title {
    padding-bottom: 40px;
}


/*end bản đồ*/


/*contact*/

.contact {
    margin-top: 50px;
    margin-bottom: 50px;
}

.infor {
    line-height: 10px;
}

.infor input[type="text"],
.infor input [type="email"],
.infor input [type="message"] {
    background-color: white;
    border: none;
    border: 1px solid #bfabab;
    color: #888;
    height: 40px;
    width: 80%
}

.infor input[type=text] {
    margin-top: 16px;
}

.infor input[type=email] {
    margin-top: 16px;
    border: none;
    border: 1px solid #bfabab;
    width: 80%;
}

.infor input[type=message] {
    margin-top: 14px;
    height: 130px;
    border: none;
    border: 1px solid #bfabab;
    width: 80%;
}

.infor input[type="submit"] {
    outline: none;
    padding: .7em 4em;
    font-size: 1em;
    color: #fff;
    border: none;
    background: #2c925e;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    border-radius: 3px;
    margin-top: 15px;
}

.infor input[type="submit"]:hover {
    background: #1b1b1b;
    color: white;
}

.contact-content {
    list-style-type: none;
    letter-spacing: 1px;
    color: #968e8e;
    font-size: 1em;
}

.contact-content span i {
    color: #fff;
    background: #db3552;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    margin-right: 1em;
    font-size: .9em;
}

.contact-content ul li {
    padding-top: 20px;
    margin-left: -20px;
}


/*end contact*/