    @import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
    @import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
    body {
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
    /*header-top*/
    
    .head-top-left {
        position: relative;
        top: 10px;
    }
    
    .head-top-left i {
        padding-right: 10px;
        font-family: 'Cairo', sans-serif;
        color: white
    }
    
    .head-top-right ul li {
        list-style: none;
        display: inline-block;
        cursor: pointer;
        padding-right: 7px;
        position: relative;
        top: -15px;
        left: 100px;
        font-family: 'Cairo', sans-serif;
        color: white;
    }
    
    .icon {
        position: relative;
        top: 10px;
        cursor: pointer;
        color: white
    }
    
    .icon i {
        padding-right: 8px;
        color: white;
    }
    
    .head {
        position: relative;
        top: 40px;
    }
    
    .header title {
        position: fixed;
        z-index: 999;
    }
    /*header-top*/
    /*START HEADER MENU*/
    
    .navbar {
        position: relative;
        top: 90px;
        background: rgba(0, 0, 0, 0.5) !important;
        font-family: 'Patua One', cursive;
        margin: auto;
        padding-left: 480px;
    }
    
    .menu li {
        padding-right: 15px;
    }
    /*END HEADER MENU*/
    /*start slide*/
    
    #demo {
        position: relative;
        z-index: -1;
        top: -123px;
        width: 100%;
    }
    
    .carousel-caption {
        position: absolute;
        top: 35%
    }
    
    .carousel-caption h2 {
        font-size: 47px;
        letter-spacing: 4px;
        font-family: 'PT Serif', serif;
        text-shadow: 5px 5px 25px rgb(0, 0, 0);
    }
    
    .carousel-caption p {
        font-size: 25px;
        font-family: 'PT Serif', serif;
        letter-spacing: 4px;
    }
    
    .outline {
        position: absolute;
        width: 70px;
        height: 3px;
        background-color: white;
        left: 57%;
        top: 19%;
    }
    
    .outline1 {
        position: absolute;
        width: 70px;
        height: 3px;
        background-color: white;
        left: 36%;
        top: 19%;
    }
    /*end slide*/
    /*start our room*/
    
    .container {
        padding: 0;
        box-sizing: border-box;
    }
    
    .row-item {
        margin-bottom: 30px;
        border: 1px #000;
    }
    
    .row-item img {
        overflow: hidden;
    }
    
    .content {
        bottom: 0%;
        position: absolute;
        left: 0;
        right: 0;
        background-color: rgba(20, 19, 19, 0.85);
        height: 100%;
        color: white;
        padding-top: 20px;
        opacity: 0;
        transition: 0.5s ease;
    }
    
    .content .room-content ul li {
        list-style-type: disc;
    }
    
    .content:hover {
        opacity: 1;
    }
    /*end our room*/